body {
    background-color: rgb(234, 227, 217);
    color: rgb(7, 95, 86);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button {
    background-color: rgb(234, 227, 217);
    color: rgb(41, 178, 0);
}
